[Unit]
Description=Portainer container
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a portainer
ExecStop=/usr/bin/docker stop -t 2 portainer

[Install]
WantedBy=default.target
